$body-bg: #0f0f0f;
$title-text: #cdbe91;
$txt-color: #f0e6d2;
$header-bg: #111111;
$header-hg: 80px;
$content-hg: 400vh;


$white: #fff;
$black: #000;

$border-radius: 30px;
$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: "Rowdies", cursive;

$numbers: 1, 2, 3, 4, 5, 6, 7, 8, 9;
